* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: #ffffff;
  font: 20px/1.5 serif;

  background: #000000;
}

h2 {
  padding-right: 15px;
  padding-left: 15px;

  font-weight: bold;
  font-size: 2em;
}

.justify-content-between {
  justify-content: space-between;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
}

.column-4 {
  width: 23%;
  margin-bottom: 2%;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  padding: 30px;

  border: 1px solid #ccc;
  border-radius: 10px;

  transition: 0.7s;
}

.card:hover {
  
  top: -15px;
  left: -10px;
  color: #fff;

  background:  linear-gradient(135deg, rgba(53,212,79,1) 0%, rgba(12,208,192,1) 100%);
  cursor: pointer;
}

.card h3 {
  margin-top: 0;

  font-size: 1.5em;
}

h2 {
  font-size: 72px;
  background: -webkit-linear-gradient(#35d44f, #0cd0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
img{
  width: 200px;
}
p{
  
}